body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #faf9f6;
  min-height: 100vh;
}

.search-container {
  display: flex;
  justify-content: center;
  border: 2px solid rgb(0, 255, 85);
  padding: 10px;
}

.weather-data-component {
  display: flex;
  height: 100%;
  width: 50%;
  border: 3px solid yellow;
  padding: 50px;
  margin: 50px;
  flex: 1;
}

.weather-data-container {
  display: flex;
  border: 5px solid blue;
  flex: 1;
}

.weather-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid green;
}

.city-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid purple;
  margin-top: 10px;
  height: 200px;
  width: 400px;
  font-size: xx-large;
}

.day-data-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border: 3px solid red;
  gap: 40px;
  width: 700px;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 150px;
  border: 3px solid black;
}

.day-of-week-data {
  border: 3px solid palevioletred;
}

.day-name-data-container {
  border: 3px solid yellowgreen;
}

.emo-temp-data-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  border: 3px solid yellowgreen;
}

.temperature-data {
  display: flex;
  justify-content: center;
  border: 3px solid palevioletred;
}

.emoji-data {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid palevioletred;
  flex-grow: 1;
}

.main-logo.container {
  border: 3px solid blue;
}

.weather-icon-container {
  display: flex;
  justify-content: center;
}
